/*-- scss:defaults --*/
$theme-cranberry: #CA225E;

/*-- scss:rules --*/

a {
  color: $theme-cranberry;
  &:hover {
    color: $theme-cranberry;
  }
}

.navbar-dark {
  background-color: $theme-cranberry;
}
