.cell-output-display table {
  max-width: 100%;
}

.cell-output-display table.dataTable td,
.cell-output-display table.dataTable th {
  white-space: normal;
  word-break: break-word;
  overflow-wrap: anywhere;
}
